<p>
	<strong>First name:</strong>
	<%= @user.first_namer %>
</p>

<p>
	<strong>Last name:</strong>
	<%= @user.last_name %>
</p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<%= link_to 'Back', users_path %>
